/* ------------------------------------------------------
  Stylesheet Guide
  ------------------------------------------------------

    1. Global
        1.1. Fonts
            1.1.1. Header font - Minecraft
            1.1.2. Text font - Ubuntu
        1.2. General styles
        1.3. Color scheme
        1.4. Typography
        1.5. Custom class
        1.6. Icons class
    A. Common Across Sizes
        2. Header
            2.1. Structure, logo
            2.2. Header text
        3. Sections
            3.1 Section header
            3.2. Main Index section
            3.3. Realms section
            3.4. Host section
            3.5. DIY section
            3.6. Contacts section
        4. Footer
    B. Small Screens
        2. Header
            2.1. Structure, logo
            2.2. Header text
        3. Sections
            3.1 Section header
            3.2. Main Index section
            3.3. Realms section
            3.4. Host section
            3.5. DIY section
            3.6. Contacts section
        4. Footer
    C. Mid-size Screens
        2. Header
            2.1. Structure, logo
            2.2. Header text
        3. Sections
            3.1 Section header
            3.2. Main Index section
            3.3. Realms section
            3.4. Host section
            3.5. DIY section
            3.6. Contacts section
        4. Footer
    D. Large Screens
        2. Header
            2.1. Structure, logo
            2.2. Header text
        3. Sections
            3.1 Section header
            3.2. Main Index section
            3.3. Realms section
            3.4. Host section
            3.5. DIY section
            3.6. Contacts section
        4. Footer
    5. Media queries

------------------------------------------------------ */

/* ------------------------------------------------------
    1. Global
------------------------------------------------------ */

    /* ------------------------------------------------------
        1.1. Fonts
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            1.1.1. Header font - Minecraft
        ------------------------------------------------------ */
			
			/* https://css-tricks.com/snippets/css/using-font-face/ */
			@font-face {
                font-family: "Minecraft";
                font-weight: normal;
                font-style: normal;
                src: url("../fonts/minecraft/MinecraftRegular.otf") format("opentype");
            }

            @font-face {
                font-family: "Minecraft";
                font-weight: bold;
                font-style: normal;
                src: url("../fonts/minecraft/MinecraftTen.ttf") format("truetype");
            }

		/* ------------------------------------------------------
            1.1.2. Text font - Ubuntu
        ------------------------------------------------------ */

            @font-face {
                font-family: "Ubuntu";
                font-weight: normal;
                font-style: normal;
                src: url("../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: normal;
                font-style: italic;
                src: url("../fonts/ubuntu/Ubuntu-Italic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: lighter;
                font-style: normal;
                src: url("../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: lighter;
                font-style: italic;
                src: url("../fonts/ubuntu/Ubuntu-LightItalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: medium;
                font-style: normal;
                src: url("../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: medium;
                font-style: italic;
                src: url("../fonts/ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: bold;
                font-style: normal;
                src: url("../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
            }

            @font-face {
                font-family: "Ubuntu";
                font-weight: bold;
                font-style: italic;
                src: url("../fonts/ubuntu/Ubuntu-BoldItalic.ttf") format("truetype");
            }

    /* ------------------------------------------------------
        1.2. General styles
    ------------------------------------------------------ */

        body {
            margin: 0 auto;
            padding: 0;
            overflow-x: hidden;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    /* ------------------------------------------------------
        1.3. Color scheme
    ------------------------------------------------------ */
    
        * { /* Custom colors, now with names! */
            --darkpurple:   #27233A;
            --independence: #505168;
            --laurelgreen:  #B3C0A4;
            --beige:        #EAEFD3;
            --goldcrayola:  #DCC48E;
        }

    /* ------------------------------------------------------
        1.4. Typography
    ------------------------------------------------------ */
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Minecraft', 'Ubuntu', Arial, sans-serif;
        }

    /* ------------------------------------------------------
        1.5. Custom Class
    ------------------------------------------------------ */

    /* ------------------------------------------------------
        1.6. Icons Class
    ------------------------------------------------------ */

/* ------------------------------------------------------
    A. Common Across Sizes
------------------------------------------------------ */

    /* ------------------------------------------------------
        2. Header
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.1 Structure, logo
        ------------------------------------------------------ */

            header {
                background-color: var(--darkpurple);
                width: 100%;
            }

        /* ------------------------------------------------------
            2.2 Header text
        ------------------------------------------------------ */

            header nav {
                min-height: 5vh;
                overflow: hidden;
            }

            nav ul {
                list-style-type: none;
                overflow: hidden;
                padding: 0;
                margin: 0;
            }

            nav li {
                float: left;
            }

            nav a {
                display: block;
                text-align: center;
                padding: 1.5vh 1.5vw;
                font-family: 'Minecraft', 'Ubuntu', Arial, sans-serif;
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

            nav a:hover, nav a#active {
                background-color: var(--independence);
            }

    /* ------------------------------------------------------
        3. Sections
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.1. Section header
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.2. Main Index section
        ------------------------------------------------------ */ 

            .column-wrapper {
                display: flex;
                max-width: 100%;;
            }

            .guide-column {
                flex: 1; /* Grow all columns equally */
            }

        /* ------------------------------------------------------
            3.3. Realms section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.4. Host section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.5. DIY section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.6. Contact section
        ------------------------------------------------------ */

    /* ------------------------------------------------------
        4. Footer
    ------------------------------------------------------ */

/* ------------------------------------------------------
    B. Small screens
------------------------------------------------------ */

@media only screen and (max-width: 640px) {
    /* ------------------------------------------------------
        2. Header
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.1 Structure, logo
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.2 Header text
        ------------------------------------------------------ */
        
            /* With 5 nav elements, 20% width ensures all are equally sized to fit the full navbar width */
            nav li {
                width: 20%;
            }

    /* ------------------------------------------------------
        3. Sections
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.1. Section header
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.2. Main Index section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.3. Realms section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.4. Host section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.5. DIY section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.6. Contact section
        ------------------------------------------------------ */

    /* ------------------------------------------------------
        4. Footer
    ------------------------------------------------------ */

}

/* ------------------------------------------------------
    C. Medium screens
------------------------------------------------------ */

@media only screen and (min-width: 641px) and (max-width: 1440px) {
    /* ------------------------------------------------------
        2. Header
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.1 Structure, logo
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.2 Header text
        ------------------------------------------------------ */
        
        header {
                
        }

    /* ------------------------------------------------------
        3. Sections
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.1. Section header
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.2. Main Index section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.3. Realms section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.4. Host section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.5. DIY section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.6. Contact section
        ------------------------------------------------------ */

    /* ------------------------------------------------------
        4. Footer
    ------------------------------------------------------ */

}

/* ------------------------------------------------------
    D. Large screens
------------------------------------------------------ */

@media only screen and (min-width: 1441px) {
    /* ------------------------------------------------------
        2. Header
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.1 Structure, logo
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            2.2 Header text
        ------------------------------------------------------ */
        
        header {
                
        }

    /* ------------------------------------------------------
        3. Sections
    ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.1. Section header
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.2. Main Index section
        ------------------------------------------------------ */

            /* ------------------------------------------------------
                3.2.1. Center-mid-1
            ------------------------------------------------------ */

            /* ------------------------------------------------------
                3.2.2. Center-mid-2
            ------------------------------------------------------ */        

        /* ------------------------------------------------------
            3.3. Realms section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.4. Host section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.5. DIY section
        ------------------------------------------------------ */

        /* ------------------------------------------------------
            3.6. Contact section
        ------------------------------------------------------ */

    /* ------------------------------------------------------
        4. Footer
    ------------------------------------------------------ */

}

/* ------------------------------------------------------
    5. Media queries
------------------------------------------------------ */